@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,body
{
    height:100%;
    width:100%;
    overflow-x: clip;
    font-family: 'Montserrat', sans-serif;
    color:white;
    background-color: black;
}

:root
{
    --border-hex:#ffffff6f;
}

/*SRIIIII!!!!!! ded e e dnana ndaead ede ded eo bauear abre breheehe*/

#navbar
{
    padding: 1%;
    position: fixed;
    top:0;
    left:0;
    height:7%;
    width:100%;
    background-color: black;
    z-index: 4;
    transition: all .5s;
    color:white;
    display:flex;
    align-items: center;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid var(--border-hex);
    gap:1%;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
}

#navIcon
{
    height:100%;
}

#NavCol
{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:25%;
    background-color: black;
    border-right: 1px solid var(--border-hex);
    z-index: 1;
}

#PostCol
{
    position: absolute;
    top:0;
    left:25%;
    height:100%;
    width:50%;
    background-color: black;
}

#NewsCol
{
    position: fixed;
    top:0;
    left:75%;
    height:100%;
    width:25%;
    background-color: black;
    border-left: 1px solid var(--border-hex);
    z-index: 1;
}



#PostIntro
{
    position: relative;
    top:0;
    left:0;
    height:7%;
    width:100%;
    background-color: white;
    color:white;
    display: flex;
    background-color: black;
    align-items: center;
    border-bottom: 1px solid var(--border-hex);
    padding:1%;
}

.PostImg
{
    height: 3em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0px solid white;
    overflow: hidden;
    object-fit:cover;
}

#Posts
{
    position: relative;
    left:0;
    top:0;
    width:100%;
}

.UserHold
{
    display:flex;
}

.Post
{
    padding:3%;
    border-bottom: solid var(--border-hex) 1px;
    transition: all 1s;
}

.Post:hover
{
    background-color: rgb(14, 14, 14);
}

#ProfileContent
{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:50%
}

#ProfileBanner
{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:50%;
    background-color: white;
}

#BannerImage
{
    width:100%;
    height:100%;
    /*lets make aspect ratios*/
}

#BannerPFP
{
    border-radius: 50%;
    position: absolute;
    width:auto;
    height:34%;
    border:white 2px solid;
    aspect-ratio: 1/1;
    top:34%;
    left:6%;
    z-index: 2;
}

#ProfileData
{
    position: relative;
    height:50%;
    width:100%;
    top:0;
    left:0;
    background-color: rgb(50, 50, 50);
    border-top:2px solid white;
}

#ProfileName
{
    position:absolute;
    top:36%;
    left:6%;
}

#navbar a
{
    color:white;
    text-decoration: none;
    background:linear-gradient(to right, orange 20%, #c16f04 30%, #d39b03 70%, orange 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 7s ease-in-out infinite;
}

@keyframes textShine {
    to{
        background-position: 200%;
    }
}

.UserHold a
{
    text-decoration: none;
    color:white;
}

#navPost
{
    background-color: orange;
    border-radius: 10% / 80%;
    height: 80%;
    width: 30%;
    position: relative;
    left: 3%;
    color:black;
    border:none;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    transition: all .5s;
}

#navPost:hover
{
    background-color: rgb(255, 102, 0);
    color:white;
}

#navPost:active
{
    filter:brightness(50%);
}

#CreatePost
{
    position: fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}
#ModalClose
{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: rgb(27, 15, 0);
    opacity: 50%;
}
#PostPrompt
{
    border-radius: 3%;
    z-index: 2;
    width:40%;
    aspect-ratio: 1/1;
    background-color: rgb(31, 30, 30);
    border:3px solid white;
    color:white;
}

#PostHead
{
    display: flex;
    position: relative;
    top:0;
    left:0;
    border-bottom:1px solid rgba(217, 217, 217, 0.273);
    width:100%;
    height:10%;
    align-items: center;
    justify-content: left;
    gap:1%;
    padding: 1%;
}

#PostBody
{
    position: relative;
    left:0;
    height:80%;
    width:100%;
}

#PostHeadPFP
{
    height:50%;
    width:auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border:2px solid white;
}

/*bro what happend*/

#PostBodyInput
{
    position: relative;
    left:0;
    height:98%;
    width:98%;
    padding: 1%;
    margin:0;
    border:0;
    overflow: hidden;
    white-space: pre-wrap;
    background-color: rgb(104, 101, 101);
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}
#PostFooter
{
    position: relative;
    left:0;
    height:10%;
    width:100%;
}
#PostFooterPostButton
{
    background-color: orange;
    border-radius: 10% / 80%;
    height: 50%;
    width: 20%;
    position: relative;
    top:25%;
    left: 70%;
    color:black;
    border:none;
    font-family: 'Montserrat', sans-serif;
    transition: all .5s;
}

#PostFooterPostButton:hover
{
    background-color: rgb(255, 102, 0);
    color:white;
}

.PostDate
{
    font-size: small;
    color:rgb(159, 159, 159);
}

#NavProfile
{
    position: absolute;
    height:100%;
    background-color: rgb(0, 0, 0);
    width:20%;
    right:0;
    display: flex;
    align-items: center;
    gap:3%;
    margin-left:3%;
    transition: all 1s;
}

#NavProfile:hover
{
  background-color: rgb(58, 58, 58);
}

#navPFP
{
    border-radius: 50%;
    height:80%;
    object-fit: cover;
    overflow: hidden;    
    aspect-ratio: 1/1;
}

#joke
{
    padding-top: 50%;
}

a
{
    color: orange;
    
}

#navMouse
{
    position: fixed;
    top:0;
    left:0;
    height:7%;
    width:100%;
    z-index: 3;
}

pre
{
    font-family: 'Montserrat', sans-serif;
}

.PostAction
{
    position:relative;
    left:0;
    width:100%;
    height:10%;
}

.PostPhoto
{
    height:100%;
    width:100%;
}

#nasIm
{
    height:auto;
    width:100%;
}

#navFriends {
    background-color: orange;
    border-radius: 10% / 80%;
    height: 80%;
    width: 30%;
    position: relative;
    left: 1%;
    color:black;
    border:none;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
    transition: all .5s;
  }

  #navFriends:hover
  {
      background-color: rgb(255, 102, 0);
      color:white;
  }
  
  #navFriends:active
  {
      filter:brightness(50%);
  }

  #notifModal
  {
    position: fixed;
    z-index: 10;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.501);
  }
  #notifBlock
{
    z-index: 10;
    position: fixed;
    left:25%;
    top:18%;
    background-color: rgb(255, 151, 77);
    width:48%;
    aspect-ratio: 2/1;
    padding: 1%;
}

#notifTitle
{
    display: flex;
    justify-content: center;
}
#notifClose
{
    position:relative;
    left:50%;
    border:none;
    background-color: black;
    color:white;
    font-family: 'Montserrat', sans-serif;
    aspect-ratio: 1/1;
    transition: all 1s;
}

#notifClose:hover
{
    filter:brightness(150%)
}

#editProfile
{
    height:100%;
    width:30%;
    position: fixed;
    right:0;
    top:0;
    z-index: 10;
    color: #EB9C5C;
    background-color: rgb(18, 18, 18);
    padding:2%;
}

#editPFP
{
    height: 20%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}